* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --var-color1: #faf9f9;
  --var-color2: #8a7e72;
  --var-color3: #353b3c;
  --var-color4: #188fa7;
  --var-color5: #342e37;
  --content-size: 1400px;
}

body {
  background-color: var(--var-color1); /* set background color for body */
  min-height: 100vh;
}
/* start set style header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; /*set font for header */
  background-color: var(--var-color2); /*set background color for header */
  color: var(--var-color1); /*set color for header */
  border-bottom: 2px solid black;
}

header .header-container {
  width: 100%;
  max-width: var(--content-size);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* set style logo  */
header .logo-name .logo {
  max-width: 37px;
  margin: 10px 15px 0 10px;
}
/*set display and font size for h1 inside header */
header .logo-name h1 {
  display: inline-block;
  color: var(--var-color1);
  font-size: 44px; /*set font size*/
}

.header-container h1 .name,
.header-container nav ul li .name {
  color: var(--var-color3);
}
/*start nav bar style  */
header nav {
  margin-right: 20px;
  font-size: 18px; /* set font size*/
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px; /*set margin left to 25 px */
}
/*set color for nav bar text */
header nav ul li a {
  position: relative;
  padding: 4px;
  text-decoration: none;
  color: var(--var-color1);
  transition: 0.3s ease-in;
}

header nav ul li a::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--var-color5);
  bottom: 0;
  left: 0;
}
/*end nav bar style */

/* background image + subtitle style */
.hero-banner {
  position: relative;
  background-image: url("../images/portfolio-photp.jpg"); /*added background image */
  height: 300px; /*set height of image to 800px */
  width: 100%; /*set width of image to 100% */
  max-width: var(--content-size);
  margin: 0 auto 25px auto;
  background-size: cover;
  background-position: center;
}

.hero-banner h2 {
  position: absolute;
  top: 250px;
  right: 50px;
  border: 1px solid var(--var-color2);
  color: var(--var-color1);
}
/*end background image + subtitle style */

.page-wrapper {
  margin-right: 25px;
}

.page-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--content-size);
  margin: 0 auto 40px auto;
}
/* about section style  */
#about h2,
.contact h2,
#work h2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  text-align: end;
}

#about h2::after,
#work h2::after,
#contact h2::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 0;
  width: 3px;
  height: 100%;
  background: var(--var-color3);
}

.about-text {
  width: 75%;
}

/* display grid layout */
.work-projects {
  width: 75%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    "project1 project1"
    "project1 project1"
    "project2 project3"
    "project4 project5";
}
.project1 {
  grid-area: project1;
}
.project2 {
  grid-area: project2;
}
.project3 {
  grid-area: project3;
}
.project4 {
  grid-area: project4;
}
.project5 {
  grid-area: project5;
}

.work-projects .project {
  position: relative;
  height: 100%;
  min-height: 200px;
  border: 2px solid var(--var-color4);
  list-style-type: none;
  transition: 0.5s ease-in;
}

.work-projects .project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.4;
}

.work-projects .project:hover::after {
  content: unset;
}

.work-projects .project .project-title {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 3px 10px;
  font-size: 20px;
  border: 1px solid var(--var-color4);
  z-index: 2;
  background-color: var(--var-color1);
}

.work-projects .project .project-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.work-projects .project1 .project-image {
  background-image: url("../images/product-app.png"); /*added background image */
}

.work-projects .project2 .project-image {
  background-image: url("../images/calculator-app.png"); /*added background image */
}
.work-projects .project3 .project-image {
  background-image: url("../images/shopping-list-app.png"); /*added background image */
}
.work-projects .project4 .project-image {
  background-image: url("../images/forkify-app.png"); /*added background image */
}
.work-projects .project5 .project-image {
  background-image: url("../images/random-quotes-app.png"); /*added background image */
}

.contact-info {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-info a {
  color: var(--var-color3);
}

/* footer style */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top: 2px solid black;
  background-color: var(--var-color2);
  color: var(--var-color1);
  font-size: 18px;
}

footer .footer-name {
  color: var(--var-color5);
  margin: 0 5px;
}

/* media query- responsive website */
@media only screen and (max-width: 992px) {
  .header-container {
    flex-wrap: wrap;
    height: 100px;
  }

  .hero-banner {
    height: 200px;
  }

  .hero-banner h2 {
    top: 150px;
  }

  .work-projects {
    width: 75%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
      "project1 project1"
      "project2 project3"
      "project4 project5";
  }
}

@media only screen and (max-width: 851px) {
  .header-container {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 768px) {
  .work-projects {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 0;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4"
      "project5";
  }
  .work-projects .project {
    min-height: 150px;
  }
}

@media only screen and (max-width: 430px) {
  header nav ul {
    font-size: 14px;
  }

  header .logo-name h1 {
    font-size: 34px;
  }

  .hero-banner h2 {
    font-size: larger;
  }

  .page-section h2 {
    font-size: 20px;
  }
}
